<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Localizer["Profile"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Profile.Name" />
            <ValidationMessage For="@(() => Profile.Name)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">@Localizer["SaveChanges"]</button>
    <button class="btn btn-success" @onclick="ReturnAction">@Localizer["Return"]</button>
</EditForm>


