<div class="main-reel-container">
    <div class="video-vertical-stack">
        <div class="video-title">
            <h4>@ReelData?.Name</h4>
        </div>
        <div class="video-actions">
            <MudPaper Class="d-flex align-items-center px-2 py-1" Style="cursor: pointer;" OnClick="OnInfo" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.PriceChange" Color="Color.Default" />
                <MudText Class="ms-1" Typo="Typo.subtitle2">10,000.000</MudText>
            </MudPaper>
            <MudButton StartIcon="@Icons.Material.TwoTone.ShoppingCart"
                        Color="Color.Primary"
                       Variant="Variant.Filled"
                        OnClick="OnInfo">
                @Localizer["Buy"]
            </MudButton>
        </div>
        <div class="video-controls-container">
            <button class="carousel-control prev"
                    @onclick="OnPrevious"
                    disabled="@IsPreviousDisabled">
                &larr;
            </button>

            @if (ReelData != null)
            {
                <div class="main-reel color-palette-surface">
                    <video controls autoplay class="reel-video"
                           src="data:video/mp4;base64,@ReelData.ReelUri"
                           @onended="OnNext">
                    </video>
                </div>
            }

            <button class="carousel-control next"
                    @onclick="OnNext"
                    disabled="@IsNextDisabled">
                &rarr;
            </button>
        </div>

        <div class="video-actions">
            <MudPaper Class="d-flex align-items-center px-2 py-1" Style="cursor: pointer;" OnClick="OnInfo" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.ThumbUp" Color="Color.Default" />
                <MudText Class="ms-1" Typo="Typo.caption">10.000</MudText>
            </MudPaper>
            <MudIconButton Icon="@Icons.Material.TwoTone.Info" Color="Color.Default" Class="action-button" />
            <MudIconButton Icon="@Icons.Material.TwoTone.Comment" Color="Color.Default" Class="action-button" @onclick="OnInfo" />
            <MudIconButton Icon="@Icons.Material.TwoTone.BookmarkAdded" Color="Color.Default" Class="action-button" @onclick="OnInfo" />
        </div>
    </div>
</div>